body {
  background-color: #f5f5dc;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

#canvas {
  border: 1px solid #ccc;
}

.palette-selector-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.palette-option {
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
}

.palette-option:hover {
  border-color: #666;
}

.color-swatch {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 3px;
}
